<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>

    <span class="text-muted">© Property Finder 2021 Company, Inc. <a href="#">Privacy</a> · <a href="#">Terms</a></span>
</footer>
